<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link href="/css/default.css" rel="stylesheet" />
    </head>
    <body>
        <p>Olá {{nome}}!!!</p>
    </body>
</html>